:root {
    --bg-color:     #242425;  
    --text-color:   #cdecf5;  
    --accent-color: #2B5F6D;
    --second-color: #4A6FB5;
    --third-color:  #7AA2F7;
}

body {
    margin: 0;
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: 'Chivo Mono', monospace;
    
}
a {
    color: var(--accent-color);
    text-decoration: none;
}

button,
input,
select,
textarea {
    font-family: inherit;
}