
/* Centers content & limits how wide it can grow */
.container {
    margin-left: 40px;
    transition: margin-left 0.3s ease;
    display: flex;
    flex-direction: column;
    min-height: 100vh;

}

@media (max-width: 480px) {
    .container {
        margin-left: 40px;
        padding: 0.5rem;
    }
}

.mainContent {
    flex: 1;
}


/* Simple flex helpers */
.flex {
    display: flex;
}
.flexRow {
    display: flex;
    flex-direction: row;
}
.flexCol {
    display: flex;
    flex-direction: column;
}

/* Centering shortcut */
.centerBoth {
    display: flex;  
    justify-content: center;
    align-items: center;
    }